@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Montserrat400;
  src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat700;
  src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat500;
  src: url(../../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat600;
  src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Inter400;
  src: url(../../assets/fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter600;
  src: url(../../assets/fonts/Inter/Inter-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

.container__1190 {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.language {
  height: 40px;
  background-color: #0D0D0D;
  left: 0;
  right: 0;
}
.language a {
  color: #FFF;
  font-family: Montserrat700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.rus-uzb {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #FAFAFA;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav {
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo {
  color: #0D0D0D;
  font-family: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-size: 23px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.4px;
}
.nav li {
  color: #000;
  font-family: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.1px;
}
.nav .login {
  color: #0D0D0D;
  font-family: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--black-5, rgba(0, 0, 0, 0.05));
}
.nav .registration {
  color: #0D0D0D;
  font-family: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FFC000;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .nav__list {
    display: none;
  }
}
@media (max-width: 500px) {
  .nav__end {
    display: none;
  }
  .toggle {
    display: inline;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.home-price {
  max-width: 400px;
  background: var(--Yellow, #FFC000);
  padding: 10px;
}

.price-1 {
  padding: 6px 0 10px 6px;
}

.price-2 {
  padding: 0 0 10px 6px;
}

.home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1000px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.checkbox-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.checkbox-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.check-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.inputs {
  margin-bottom: 20px;
  max-width: 558px;
  background: var(--Grey-7, #F1F1F1);
  color: rgba(0, 0, 0, 0.4);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  padding: 15px 140px 15px 16px;
}
@media (min-width: 1000px) {
  .inputs {
    padding: 15px 340px 15px 16px;
  }
}

.right-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 93px;
  color: var(--Black, #0D0D0D);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  background: var(--Yellow, #FFC000);
}
@media (min-width: 1000px) {
  .right-button {
    padding: 17px 193px;
  }
}

.home-title {
  padding: 64px 0 80px 0;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
}

.magazin-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
@media (min-width: 1000px) {
  .magazin-img {
    grid-template-columns: repeat(4, 1fr);
  }
}

.kategoriya-button {
  border-radius: 8px;
  background: var(--Yellow, #FFC000);
  border: 1px solid transparent;
  padding: 10px 88px;
  color: var(--Black, #0D0D0D);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.15px;
}
@media (min-width: 1000px) {
  .kategoriya-button {
    padding: 28px 60px;
  }
}

.katogoriya-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}
@media (min-width: 1000px) {
  .katogoriya-img {
    grid-template-columns: repeat(5, 1fr);
  }
}

.buttons {
  padding: 10px 40px;
}
@media (min-width: 1000px) {
  .buttons {
    padding: 28px 14px;
  }
}

.buttons-1 {
  padding: 10px 96px;
}
@media (min-width: 1000px) {
  .buttons-1 {
    padding: 28px 70px;
  }
}

.buttons-2 {
  padding: 12px 15px;
}
@media (min-width: 1000px) {
  .buttons-2 {
    padding: 12px 15px;
  }
}