@use "../global";
@use "../utils/variables" as var;

.first_section {
  padding-top: 200px;
  .blank {
    display: flex;
    margin-top: 25px;
    .blank_img {
      height: 300px;
      width: 265px;
      img {
        object-fit: cover;
      }
    }
    .blank_text {
      padding: 24px;
      width: calc(100% - 265px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .blank_title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .title_left {
          color: #040921;
          font-family: var.$primary-font;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
        }
        .title_right {
          height: 24px;
          width: 24px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .blank_description {
        color: #000;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: var.$primary-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
        letter-spacing: 0.25px;
      }
      .blank_foot{
        display: flex;
        justify-content: space-between;
        font-family: var.$primary-font;
        b{
          margin-left: 16px;
        }
        .b_foot_left{
          span{
            margin-right: 40px;
          }
        }
        .b_foot_right{
          height: 37px;
          button{
            height: 37px;
            width: 37px;
            background-color: var.$primary-color;
            color: white;
            text-align: center;
            line-height: 37px;
          }
          input{
            height: 37px;
            text-align: center;
            background-color: #F2F2F2;
            width: 97px;
          }
        }
      }
    }
  }
  .all_price{
    font-family: var.$primary-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    .ap_left{
      font-size: 16px;
      b{
        margin-right: 16px;
      }
    }
    .ap_right{
      button{
        text-transform: uppercase;
        margin-right: 14px;
        font-weight: 600;
        text-align: center;
        height: 56px;
        line-height: 56px;
        background-color: var.$primary-color;
        width: 315px;
      }
    }
  }
}
.second_section{
  margin-top: 55px;
  .section_title{
    letter-spacing: 0.25px;
    font-weight: 700;
    font-size: 34px;
    font-family: var.$primary-font;
    text-align: center;
    margin-bottom: 30px;
  }
  .section_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card{
      margin-top: 30px;
      width: 22%;
      min-width: 260px;
      .sec_card_head{
        width: 100%;
        img{
          object-fit: cover;
        }
      }
      .sec_card_body{
        padding: 8px 13px;
        display: grid;
        gap: 10px;
        .body_title{
          letter-spacing: 0.75px;
          font-weight: 600;
          font-size: 14px;
          font-family: var.$primary-font;
          text-transform: uppercase;
        }
        .body_description{
          letter-spacing: 0.4px;
          font-weight: 500;
          font-size: 12px;
          font-family: var.$primary-font;
        }
        .body_rate{
          display: flex;
          justify-content: space-between;
          .rate_left{

          }
          .rate_right{

          }
        }
        button{
          width: 100%;
          background-color: var.$primary-color;
          border-radius: 6px;
          text-transform: uppercase;
          line-height: 30px;
          height: 30px;
          letter-spacing: 0.75px;
          font-weight: 600;
          font-size: 14px;
          font-family: var.$primary-font;
        }
      }
    }
  }
}
